.fa-arrow-alt-circle-right,
.fa-arrow-alt-circle-left {
    color: $cherry;
}

.fa-arrow-right {
    color: $orange;
}

.fa-arrow-left {
    color: $orange;
}

.fa-facebook {
    color: $blurple;
}

.fa-twitter-square {
    color: $blue;
}

.fa-instagram {
    color: $brown;
}

.fa-basketball-bal {
    color: $brown;
}

.fa-google-plus-g {
    color: $green;
}

.fa-linkedin {
    color: $dark-blue;
}

.fa-reddit {
    color: $orange;
}

.fa-money-bill-wave {
    color: $green;
}

.fa-star {
    color: $sun;
}