.carousel-inner {
    max-width: 80% !important;
    margin: 0 auto;
}

.slider__image {
    height: 350px;
    width: 100%;
}

.slider__title {
    text-shadow: 1px 1px $black;
    font-size: 45px;
}