    .tag-lines {
        background-color: $midnight;
        padding: 10px 0;
    }
    
    .categories {
        background-color: $midnight;
    }
    
    .categories__title {
        color: $yellow;
    }
    
    .categories__title-nav {
        color: $light-blue;
    }